
.form
{
    background-color: #c4ce00;
    border: 1px solid black;
    border-radius: 5ch;
    font-size: 1vw;
    text-align: center;
    width: 50%;
    margin-left: 25vw;
}

input
{
    border-radius: 1ch ;
    width: 30%;
}

button
{
    border-radius: 1ch;
    width: 30%;
    margin: 1ch;
    font-size: 2ch;
    background-color: #003B4A;
    color: white;
}